.counter {
  padding: 100px;
  /* display: block; */
  width: 400px;
  margin: 0 auto;
  border: 10px solid sandybrown;
}

button {
  background-color: steelblue;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: 2px solid rgb(0, 65, 119);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: white;
  color: steelblue;
}

.value {
  font-size: 32px;
  font-weight: bold;
}
